QLabel#setKeyLabel{
    color:black;
    font-weight: normal;
}

/*QWidget{
    background-color: #c6c6c6;
}*/

QPushButton{
    background-color:#666;
    color:white;
}

QPushButton::hover{
    background-color:#888;
    color:white;
}
